* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-items {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.list-style {
  list-style: none;
}

#header {
  background-color: black;
  width: 100%;
  height: 18vh;
  position: fixed;
  z-index: 1;
}
#header i {
  color: white;
  padding: 40px 0 0 45px;
  font-weight: bolder;
}
#header .header1 a {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  padding: 25px 0 0 70px;
}
#header .header2 {
  margin-left: 270px;
}
#header .header2 .header3 li {
  position: relative;
}
#header .header2 .header3 li a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 40px 0 0 45px;
  font-size: 18px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#header .header2 .header3 li a:hover::before {
  width: 30%;
  transition: 0.5s ease-in-out;
}
#header .header2 .header3 li a::before {
  position: absolute;
  content: "";
  width: 0;
  top: 100%;
  height: 0.6vh;
  background-color: #E9204F;
}

#img {
  width: 100%;
  height: 120vh;
  background-color: black;
  padding: 130px 250px 0 0;
  position: relative;
}
#img::before {
  content: "";
  width: 8%;
  top: 22%;
  left: 5%;
  height: 0.6vh;
  background-color: #E9204F;
  position: absolute;
}
#img .img1 {
  background-image: url(http://gentium.themeflo.com/demo/assets/images/hero_02.jpg);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
#img .img2 {
  padding: 0 75px;
}
#img .img2 h1 {
  color: white;
  font-size: 90px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 100px;
  font-weight: bolder;
  width: 70%;
  line-height: 80px;
}
#img .img2 a {
  color: white;
  display: inline-block;
  text-decoration: none;
  margin-top: 75px;
  padding: 20px 25px;
  font-size: 20px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 2px solid #E9204F;
  transition: 1s ease-in-out;
}
#img .img2:hover a {
  background-color: #E9204F;
}
#img .img3 {
  width: 100%;
  height: 60vh;
  margin-left: 130px;
}
#img .img3 .box1 {
  width: 30%;
  height: 45vh;
  margin: 0 15px;
  background-color: #E9204F;
}
#img .img3 .box1 i {
  color: white;
  font-size: 45px;
  padding: 20px 0 0 35px;
}
#img .img3 .box1 h2 {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 35px 0 0 35px;
}
#img .img3 .box1 hr {
  width: 13%;
  margin: 10px 0 0 35px;
}
#img .img3 .box1 h3 {
  color: white;
  font-size: 18px;
  width: 70%;
  margin-left: 35px;
  padding-top: 30px;
}
#img .img3 .box2 {
  width: 30%;
  margin: 0 15px;
  background-color: #1B1B1B;
}
#img .img3 .box2 i {
  color: white;
  font-size: 45px;
  padding: 20px 0 0 35px;
}
#img .img3 .box2 h2 {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 35px 0 0 35px;
}
#img .img3 .box2 hr {
  width: 13%;
  margin: 10px 0 0 35px;
}
#img .img3 .box2 h3 {
  color: white;
  font-size: 18px;
  width: 70%;
  margin-left: 35px;
  padding-top: 30px;
}
#img .img3 .box3 {
  margin: 0 15px;
  width: 30%;
  background-color: #1B1B1B;
}
#img .img3 .box3 i {
  color: white;
  font-size: 45px;
  padding: 20px 0 0 35px;
}
#img .img3 .box3 h2 {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 35px 0 0 35px;
}
#img .img3 .box3 hr {
  width: 13%;
  margin: 10px 0 0 35px;
}
#img .img3 .box3 h3 {
  color: white;
  font-size: 18px;
  width: 70%;
  margin-left: 35px;
  padding-top: 30px;
}

#w {
  background-color: black;
  width: 100%;
  height: 24.7vh;
}

#services {
  padding: 130px 0 0 48px;
  width: 100%;
  height: 150vh;
}
#services hr {
  width: 4%;
  margin: 0 0 40px 25px;
  height: 0.7vh;
  background-color: #E9204F;
  color: #E9204F;
}
#services h1 {
  color: #1B1B1B;
  margin-bottom: 25px;
  font-size: 50px;
  padding-left: 25px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services h3 {
  color: #E9204F;
  padding-left: 25px;
  margin-bottom: 70px;
  font-size: 15px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex {
  margin-right: 30px;
}
#services .d-flex .one {
  width: 30%;
  background-color: #F3F3F3;
  padding: 35px 15px;
  margin: 20px;
}
#services .d-flex .one h2 {
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex .one i {
  padding-left: 120px;
  font-size: 25px;
  color: #8b8888;
}
#services .d-flex .two {
  width: 30%;
  background-color: #F3F3F3;
  padding: 35px 15px;
  margin: 20px;
}
#services .d-flex .two h2 {
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex .two i {
  padding-left: 195px;
  font-size: 25px;
  color: #8b8888;
}
#services .d-flex .three {
  width: 30%;
  background-color: #F3F3F3;
  padding: 35px 15px;
  margin: 20px;
}
#services .d-flex .three h2 {
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex .three i {
  padding-left: 135px;
  font-size: 25px;
  color: #8b8888;
}
#services .d-flex .four {
  width: 30%;
  background-color: #F3F3F3;
  padding: 35px 15px;
  margin: 20px;
}
#services .d-flex .four h2 {
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex .four i {
  padding-left: 115px;
  font-size: 25px;
  color: #8b8888;
}
#services .d-flex .five {
  width: 30%;
  background-color: #F3F3F3;
  padding: 35px 15px;
  margin: 20px;
}
#services .d-flex .five h2 {
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex .five i {
  padding-left: 105px;
  font-size: 25px;
  color: #8b8888;
}
#services .d-flex .six {
  width: 30%;
  background-color: #F3F3F3;
  padding: 35px 15px;
  margin: 20px;
}
#services .d-flex .six h2 {
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex .six i {
  padding-left: 165px;
  font-size: 25px;
  color: #8b8888;
}
#services .d-flex .seven {
  width: 30%;
  background-color: #F3F3F3;
  padding: 35px 15px;
  margin: 20px;
}
#services .d-flex .seven h2 {
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex .seven i {
  padding-left: 145px;
  font-size: 25px;
  color: #8b8888;
}
#services .d-flex .eight {
  width: 30%;
  background-color: #F3F3F3;
  padding: 35px 15px;
  margin: 20px;
}
#services .d-flex .eight h2 {
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex .eight i {
  padding-left: 145px;
  font-size: 25px;
  color: #8b8888;
}
#services .d-flex .nine {
  width: 30%;
  background-color: #F3F3F3;
  padding: 35px 15px;
  margin: 20px;
}
#services .d-flex .nine h2 {
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#services .d-flex .nine i {
  padding-left: 110px;
  font-size: 25px;
  color: #8b8888;
}

#works {
  width: 100%;
  height: 120vh;
}
#works .works1 hr {
  margin: 0 0 40px 100px;
  width: 20%;
  height: 0.6vh;
  background-color: #E9204F;
  color: #E9204F;
}
#works .works1 h1 {
  font-size: 55px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 0 40px 100px;
}
#works .works1 h3 {
  font-size: 18px;
  font-weight: bolder;
  color: #E9204F;
  margin: 0 0 60px 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#works .works2 a {
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  display: inline-block;
  font-size: 18px;
  margin: 0 0 60px 850px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 2px solid #E9204F;
}
#works .foto {
  width: 100%;
}
#works .foto img {
  margin-left: 4.5px;
  width: 33%;
}

#about {
  width: 100%;
  height: 250vh;
}
#about .about1 hr {
  margin: 0 0 40px 100px;
  width: 12%;
  height: 0.6vh;
  background-color: #E9204F;
  color: #E9204F;
}
#about .about1 h1 {
  font-size: 55px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 0 40px 100px;
}
#about .about1 h3 {
  font-size: 18px;
  font-weight: bolder;
  color: #E9204F;
  margin: 0 0 60px 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#about .about2 {
  margin: 60px 0 0 0px;
  width: 57%;
  color: #8b8888;
  font-size: 20px;
}
#about .boxes {
  width: 100%;
}
#about .boxes .boxes1 {
  width: 50%;
}
#about .boxes .boxes1 img {
  width: 100%;
}
#about .boxes .boxes2 {
  width: 50%;
}
#about .boxes .boxes2 img {
  width: 100%;
}
#about .boxes .boxes3 {
  width: 50%;
}
#about .boxes .boxes3 img {
  width: 100%;
}
#about .b {
  margin: 60px 0 0 0;
  padding-left: 120px;
  width: 100%;
}
#about .b .b1 {
  width: 30%;
  padding: 25px;
}
#about .b .b1 h2 {
  font-size: 30px;
  padding: 20px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#about .b .b1 span {
  color: #8b8888;
  font-size: 15px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#about .b .b2 {
  width: 30%;
  padding: 25px;
}
#about .b .b2 h2 {
  font-size: 30px;
  padding: 20px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#about .b .b2 span {
  color: #8b8888;
  font-size: 15px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#about .b .b3 {
  width: 30%;
  padding: 25px;
}
#about .b .b3 h2 {
  font-size: 30px;
  padding: 20px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#about .b .b3 span {
  color: #8b8888;
  font-size: 15px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#what .what2 {
  width: 40%;
}
#what .what2 img {
  width: 90%;
}
#what .what3 {
  width: 50%;
}
#what .what3 hr {
  width: 7%;
  margin-bottom: 35px;
  background-color: #E9204F;
  height: 0.6vh;
}
#what .what3 h1 {
  font-size: 55px;
  margin-bottom: 30px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#what .what3 h3 {
  font-size: 17px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #E9204F;
  margin-bottom: 80px;
}
#what .what3 span {
  font-size: 25px;
  color: #8b8888;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#what .what3 .what4 hr {
  color: #8b8888;
  background-color: #8b8888;
  margin: 75px 0 40px 0;
}
#what .what3 .what4 h3 {
  color: black;
  padding-top: 20px;
}

#comce {
  width: 100%;
  height: 55vh;
}
#comce hr {
  width: 90%;
  border-radius: 8mm;
  margin-left: 75px;
}
#comce .comce1 {
  padding-left: 75px;
}
#comce .comce1 img {
  margin: 40px;
}

#news {
  width: 100%;
  height: 100vh;
}
#news h1 {
  text-align: center;
  color: black;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#news h3 {
  color: #E9204F;
  font-size: 15px;
  margin-bottom: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  text-align: center;
}
#news .news1 {
  width: 100%;
  padding-left: 30px;
}
#news .news1 img {
  width: 31%;
  margin: 10px;
}

#end .end1 {
  width: 100%;
  height: 50vh;
  background-color: #1B1B1B;
}
#end .end1 .icon {
  margin-left: 70px;
}
#end .end1 .icon .iconf {
  color: white;
  padding: 20px 25px;
  margin: 10px;
  font-size: 25px;
  border: 2px solid #E9204F;
}
#end .end1 .icon .icont {
  color: white;
  padding: 20px;
  font-size: 25px;
  margin: 10px;
  border: 2px solid #E9204F;
}
#end .end1 .icon .iconi {
  color: white;
  padding: 20px 22px;
  font-size: 25px;
  margin: 10px;
  border: 2px solid #E9204F;
}
#end .end1 .icon .iconc {
  font-size: 25px;
  color: white;
  padding: 20px;
  margin: 10px;
  border: 2px solid #E9204F;
}
#end .end2 {
  padding-left: 150px;
}
#end .end2 h1 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#end .end3 a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 2px solid #E9204F;
  padding: 20px 40px;
  margin-left: 200px;
}
#end .orta {
  background-color: #161616;
  width: 100%;
  height: 20vh;
}
#end .orta a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 35px 0 0 350px;
}
#end .son {
  background-color: #000000;
  width: 100%;
  height: 10vh;
}
#end .son span {
  color: #F3F3F3;
  font-size: 16px;
  padding: 25px 0 0 100px;
}
#end .son .son1 {
  margin-left: 450px;
}
#end .son .son1 li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 25px 0 0 45px;
}/*# sourceMappingURL=style.css.map */